<!DOCTYPE html>
<html>
<head>
	<title>GTM Test Site</title>
	<style type="text/css">
		body {
			font-family: Arial;
		}
		a {
			color: #FF8F00;
		}
	</style>
	<script>
		(function(w,d,s,l,i) { 
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event:'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s),
			dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-5TFQCR');
	</script>
</head>
<body>
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5TFQCR"
height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>

	<h1 id='title'>TEST Page</h1>

</body>
</html>