<!DOCTYPE html>
<html>
<head>
	<title>GTM Test Site</title>
	<style type="text/css">
		body {
			font-family: Arial;
		}
		a {
			color: #FF8F00;
		}
	</style>
	<script>
		// Data Layer
	  dataLayer = [{
	   	'pageCategory': 'signup',
	   	'visitorType': 'high-value'
	  }];

	 	// GTM Container Code
		(function(w,d,s,l,i) { 
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event:'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s),
			dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-5TFQCR');
	</script>
</head>
<body>

	<h1 id='title'>TEST Page</h1>

	<a href="#" name="button1" onclick="dataLayer.push({'event': 'button1-click'});" >Button 1</a>

		<a href="#" name="button2" onclick="dataLayer.push({'tripCategory': 'skiing2'});" >Button 1</a>

</body>
</html>